*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #060CE9;
    background: url(../Resources/background1.jpg);

}

#box{
    position: relative;
    width:400px;
    height: 500px;
    background-color: #060CE9;
    overflow: hidden;
}

#box::before{
    content:  '';
    position:absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 500px;
    background:linear-gradient(60deg, transparent,white, white);
    transform-origin: bottom right;
    animation:  animate 6s linear infinite;
    overflow: hidden;

}

#box::after{
    content:  '';
    position:absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 500px;
    background:linear-gradient(60deg, transparent,orange,orange);
    transform-origin: bottom right;
    animation:  animate 6s linear infinite;
    animation-delay: -3s;

}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

form{
    position:absolute;
    inset: 2px;
    background: gray;
    z-index: 10;
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#input input{
position: relative;
width: 100%;
padding: 18px 35px 5px 0;
border: none;
outline: none;
background-color: transparent;
border-bottom: 1px solid #87a4bd;
color: white;
font-size: 1.1em;
font-weight: 400;
letter-spacing: 0.07em;
background: linear-gradient(to top, white 50%,white 50%);
background-position:left bottom;
background-size: 0 1px;
background-repeat: no-repeat;
transition: all 0.5s ease-in-out;
}

#input input:hover{

}

#input input:focus{
background-position: left bottom;
background-size: 100% 1px;
}

#input input:valid{
border-bottom: #00ffff;
}

#input label{
    position: relative;
    left: 0;
    padding: 20px 0;
    color: #060CE9;
    font-size: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    pointer-events: none;
    transition:all 0.5s ease-in-out;
}

#submit
{
    margin-top: 50px;
    width: 300px;
    padding:5px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    background-color: #060CE9;
    border: 2px solid black;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}

#submit:hover{
border-radius: 50px;
letter-spacing: 0.15em;
}

#register{
color: white;
margin-top: 50px;
font-size: 1em;
text-align: center;
}

#register a{
    color: orange;
    padding-left: 3px;
    text-decoration: none;
}

#register a:hover{
    text-decoration: underline 2px;
    text-underline-offset: 5px;
}