*{
    font-family: sans-serif;
}

body{
    background-image: url(../Resources/jeopardy_blue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#container{
    width:80%;
    margin:auto;
    margin-top:30px;
}

#q_a{
    background-color:#252cf0;
    padding:30px;
    margin-bottom:25px;
}

#point{
    background-color: #000470;
    border-radius:40px;
    text-align: center;
    font-size: 30px;
    margin:auto;
    margin-bottom:50px;
    color: orange;
    width: 30%;
}

#question{
    text-align: center;
    font-size:25px;
    color: rgb(255, 255, 255);
    position: relative;
}

#answer{
    text-align: center;
    font-size: 30px;
    color: orange;
    font-weight: bold;
    position: relative;
   

}



#buttons{
    text-align: center;
    justify-content: center;
    margin:auto;
    padding: 20px;
}

#return{
     margin-left: 90%;
     border: 2px solid rgb(13, 36, 78);
     border-radius: 20px;
     padding: 10px 20px;
     background-color: #060CE9;
     color: orange;
     font-size: 30px;
     text-align: center;
     font-weight: bold;
     text-decoration: none;
}

#return:hover{
    transform: scale(1.1);
    transition: .3s;
    cursor: pointer;
    color: yellow;
    background-color: navy;
}

#return:active{
    background-color: #000;
}

#submit-button{
    border: 2px solid black;
    border-radius: 20px;
    border-width: 2px;
    width: 200px;
    height: 40px;
    background-color: #060CE9;
    color: orange;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
}

#submit-button:hover{
    transform: scale(1.1);
    transition: .3s;
    cursor: pointer;
    color: yellow;
    background-color: navy;
}

#submit-button:active{
    background-color: #000;
}