/*Jeopardy Page */
*{
    font-family: sans-serif;
}

body{
    background-image: url(../Resources/jeopardy_blue.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#header{
    height: 100px;
    width: 100%;
    margin:auto;
}

.leaderboard-logout{
    display:flex;
    flex-direction:column;
    justify-content: flex-end; 
    align-items: flex-end;
}

#user-name{
    color: white;
    font-size: 40px;
    margin-left:20px;
}
nav{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-between;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 30px;
}

#leaderboard{
    border: 2px solid rgb(13, 36, 78);
    background-color: #0945e9;
    border-radius: 30px;
    list-style-type: none;
    display: inline-block;
    margin-bottom:10px;
    padding: 10px 20px;
    font-size: 30px;
    font-weight:bold;
    color:orange;
    text-decoration:none;
}

#leaderboard:hover{
    color: yellow;
    transition: .3s;
    scale:1.1;
    background-color: navy;
}

#log-out{
    border: 2px solid rgb(13, 36, 78);
    background-color: #0945e9;
    padding: 10px 20px;

    border-radius: 30px;
    color: white;
    font-size: 20px;
    }

#log-out:hover{
    transform: scale(1.1);
    transition: .3s;
    cursor: pointer;
    color: yellow;
    background-color: navy;
}

#jeopardy-logo{
    margin:auto;
}


#footer{
    font-size: 40px;
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction:row;
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
}

#footer ul{
    list-style: none;
    padding-left: 0;
}

#jeopardy-table{
    border-style: solid;
    border-collapse: collapse;
    border: 5pt;
    width: 100%;
    height: 550px;
    text-align: center;
    color:orange;
    background-color: #0945e9;
    margin-top: 100px;
}

#jeopardy-table td{
    border: 10px solid rgb(0, 46, 131);
    padding: 10px;
    text-align: center;
    font-size:50px;
    font-weight: bold;
}



.Category{
    color:white;
    
}

.amount{
    color: white;
    text-decoration: none;
}

#value a{
    text-decoration: none;
    color: orange;
}

#value a:visited{
    color:#060CE9;
}

#value a:hover, a:focus{
    color: yellow;
    display: block;
    background-color:navy;
}



#restart{
    position: absolute;
    margin-top: -75px;
    margin-left: 88%;
    border: 2px solid rgb(13, 36, 78);
    border-radius: 20px;
    border-width: 2px;
    width: 200px;
    height: 40px;
    background-color: #0945e9;
    color:white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

#restart:hover{
    background-color: navy;
    transform: scale(1.1);
    transition: .3s;
    color: yellow;
}

#restart:active{
   background-color: #000;
}
